@import url('/node_modules/rc-pagination/assets/index.less');

@primary-color: #8894FF;

.@{pagination-prefix-cls} {
    &-item {
        border-radius: 0.25rem;
        display: none;
    }

    &-item-link {
        font-size: 16px !important;
    }

    &-prev,
    &-next,
    &-item-link {
        border-radius: 4px;
        
        .@{pagination-prefix-cls}-item-link {
            border-radius: 4px;
        }
    }

    &-jump-next {
        display: none;
    }

    .rc-pagination-prev, .rc-pagination-next, .rc-pagination-item-link {
        border: 1px solid #e3e6f1;
        font-family: inherit;
        font-size: 12px;
        padding: 0px 1rem;
    }

    &-disabled {
        color: #e3e6f1;
    }

    &-jump-prev,
    &-jump-next {
        display: none;
    }
}
